<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>control.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DangNhap</servlet-name>
        <servlet-class>control.DangNhap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThemGV</servlet-name>
        <servlet-class>control.ThemGV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DangXuat</servlet-name>
        <servlet-class>control.DangXuat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThemGiangVien</servlet-name>
        <servlet-class>control.ThemGiangVien</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DangNhap</servlet-name>
        <url-pattern>/DangNhap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemGV</servlet-name>
        <url-pattern>/ThemGV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DangXuat</servlet-name>
        <url-pattern>/DangXuat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemGiangVien</servlet-name>
        <url-pattern>/ThemGiangVien</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <!-- <welcome-file>pages/CanBoQuanLY/home.jsp</welcome-file>!-->
        <welcome-file>DangNhap.jsp</welcome-file>
    </welcome-file-list>
</web-app>
